<%= turbo_frame_tag "school_forum" do %>
<section class="shadow-lg bg-white dark:bg-black py-4 md:py-12">
  <div class="flex items-center flex-row">
    <div class="w-full px-5 mb-5 md:mb-0 text-center">
      <h3 class="font-bold font-heading text-2xl md:text-4xl text-indigo-500">
        No forum for school
      </h3>
    </div>      
  </div>
</section>
<% end %>  