<div class="bg-white dark:bg-gray-800 w-full rounded-lg p-3 mb-1 shadow sm:inline-block">
  <div class="dark:text-white">
    <p class="font-bold mb-2"><%= reply.user.username %></p>
    <%= reply.body %>
  </div>
</div>