<aside class="h-screen hidden lg:block shadow-lg sticky top-0 w-64 overflow-hidden z-30" data-look-target="nav" data-turbo-permanent>
  <div class="bg-gray-900 h-full dark:bg-black" data-controller="animation">
    <div class="flex items-center justify-center pt-6">
      <%= link_to "phiLearn", root_path, class:"text-2xl font-bold font-serif text-white dark:hover:text-blue-700" %>
    </div>
    <div class="w-full mt-12 relative cursor-pointer">
    
      <% if current_user.admin? %>
        <%= render 'shared/admin_panel' %>
      <% elsif current_user.teacher? %>
        <%= render 'shared/teacher_panel' %>
      <% else %>
        <%= render 'shared/student_panel' %>
      <% end %>
    
    </div>
  </div>
</aside>