<%= render 'header' %>

<div class="px-2 flex flex-col min-h-screen bg-white md:px-0">
  <section class="container flex-grow max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
		<!--Title-->
			<h1 class="text-black py-4 font-extrabold text-3xl md:text-5xl">
  			Comming Soon!
			</h1>
			<p class="text-xl md:text-2xl text-gray-500">Welcome to phiLearn</p>
	</section>

	
	<div class="fixed top-0 left-0 w-full h-full"></div>
	<div class="inset-x-0 overflow-hidden"></div>


	<%= render 'footer' %>
</div>